<!DOCTYPE html>
<html>
  <head>
    <style>
      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 6px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 2px 1px;
        cursor: pointer;
      }
      </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <head>
            <style>
                h1{text-align: center;}
                h2{text-align: center;}
                form{text-align: center}
            </style>
          </head>
            <h1 class="subtitle">
              Regular User Account
            </h1>

            <form method="POST"class="form-register">
              <form>
                <button type="submit" class="button" name="SubmitButton1" value="LogOut">LogOut</button>
                <button type="submit" class="button" name="SubmitButton2" value="Go to ticket manager">Go to TicketManager</button>
              </form>
            </form method="POST">
        </div>
      </div>
    </section>
  </body>
</html>